<header class="main-header">
  <div class="row">
    <div class="hdr-left col-md-4">
      <ul>
        <li>
          <a>
            <img class="img_logo" src="assets/img/logo.png" />
          </a>
        </li>
        <li (click)="showHideSideBar()" class="hamberger-menu">
          <div></div>
          <div></div>
          <div></div>
        </li>
      </ul>
    </div>
    <div class="hdr-middle col-md-4">
      <h4>my CIO</h4>
    </div>
    <div class="hdr-right col-md-4">
      <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li>
              <a>
                <i class="fa fa-search"></i>
              </a>
            </li>
            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">10</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 10 notifications</li>
                <li>
                  <ul class="menu">
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer">
                  <a href="#">View all</a>
                </li>
              </ul>
            </li>
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img class="profile-img" src="assets/img/profile.png" alt="User Image">
                <span class="hidden-xs">Abhinandan GP</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">ANALYTICS REPORTING</a>
      </li>
      <li>
        <a href="#">SERVER MONITORING</a>
      </li>
      <li>
        <a href="#">DASHBOARDS</a>
      </li>
      <li>
        <a href="#">TIMELINES</a>
      </li>
    </ul>
  </div>
</nav>