<div id="left-sidebar" class="left-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">
      <li class="active">
        <a href="#">
          <span>Dshboard Menu</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-link"></i>
          <span>Another Link</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-line-chart"></i>
          <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">Sub Reporting Timelines</a>
          </li>
          <li>
            <a href="#">Analytics Monitoring</a>
          </li>
          <li>
            <a href="#">Untitled Report</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>REPORTS</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-line-chart"></i>
          <span>ANALYTICS</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-database"></i>
          <span>TIMELINES</span>
        </a>
      </li>
    </ul>
  </section>
</div>