<div id="content-wrapper" class="content-wrapper">
  <section class="content-header">
    <div class="row ">
      <div class="col-md-4">
        <div class="main-widget">
          <div class="widget-header">
            <span>Widget One</span>
          </div>
          <div class="widget-content"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="main-widget">
          <div class="widget-header">
            <span>Widget Two</span>
          </div>
          <div class="widget-content"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="main-widget">
          <div class="widget-header">
            <span>Widget Two</span>
          </div>
          <div class="widget-content"></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row ">
      <div class="col-md-6">
        <div class="main-widget">
          <div class="widget-header">
            <span>Widget One</span>
          </div>
          <div class="widget-content"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="main-widget">
          <div class="widget-header">
            <span>Widget Two</span>
          </div>
          <div class="widget-content"></div>
        </div>
      </div>

    </div>
    <hr>
    
  </section>

</div>